@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
main{
  font-family: 'Acme', sans-serif;
}
#hero{
  display: flex;
  flex-direction: column;
  width: 100%;
}
#panel-div{
  display: flex;
}
#left-panel{
  width: 45%;
  margin: 30px;
  background-color: #2201f918;
}
#left-hero-header{
  background-color: #2201f9;
  color: #fff;
  padding: 5px 0 5px 40px;
  font-size: 1.5rem;
  font-weight: 500;
}
#right-panel{
  width: 45%;
  margin: 30px;
  background-color: #2201f918;
}
#editors-pick{

}
#editors-pick-header{
  background-color: #2201f9;
  color: #fff;
  padding: 5px 0 5px 40px;
  font-size: 1.5rem;
  font-weight: 500;
}
#featured{

}
#featured-header{
  background-color: #2201f9;
  color: #fff;
  padding: 5px 0 5px 40px;
  font-size: 1.5rem;
  font-weight: 500;
}
a{
  text-decoration: none;
}
.news-card-title{
  color: #2201f9;
  text-align: left;
  font-size: 1.5rem;
  padding: 10px 50px;
}
#editors-pick-container{
  list-style-position: inside;
  list-style-type: square;
}
.editors-pick-list{
  margin: 8px 20px;
  padding: 5px;
  font-size: 1.2rem;
  font-weight: 100;
}
a .editors-pick-list:hover{
  background-color: #2201f9;
  color: #fff;
}
#featured-links{
  list-style-position: inside;
  list-style-type: square;
}
.featured-list{
  margin: 8px 20px;
  padding: 5px;
  font-size: 1.2rem;
  font-weight: 100;
}
#categories{
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}
#category-div{
  width: 100%;
}
.card-header{
  width: 100%;
  background-color: #2201f9;
  color: #fff;
  font-weight: 500;
  padding: 5px 20px;
}
.card{
  width: 100%;
  min-height: 300px;
  background-color: #2201f918;
  margin: 50px 0;
}
.card-container{
  width: 30%;
}
.card:hover{
  border: solid #2201f9 2px;
}